<!--
# my first Django template as html file to list all posts
# tutorial.djangogirls.org  'Introduction to HTML'
# apla 15.04.2018  added links to post_list_filter.html website
#apla 20.05.2018 changed to an extension of the base.html template
# apla 27.05.18 added a 'edit' button tutorial.djangogirls.org 'Edit Form'
-->

{% extends 'blog/base.html' %}
{% block content %}

        <div>
            <h1>
              <a href="{% url 'post_list' %}">
                  My Posts Details
              </a>
            </h1>
          </div>

           <div>
               <a href="{% url 'post_list' %}">
                 <b> {{ post.title }} </b>
               </a>
               <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                 <span class="glyphicon glyphicon-pencil">
                   Edit Post
                 </span>
               </a>
               <p> Written by: {{ post.author }}
                  created: {{ post.created_date }}
                  published: {{ post.published_date }}
                  PostID: {{ post.id}}
                </p>
                <p>
                  {{ post.text }}
                </p>
            </div>

{% endblock %}
