<!--
# my first Django template as html file to list all posts
# tutorial.djangogirls.org  'Introduction to HTML'
# apla 15.04.2018  added links to post_list_filter.html website
-->
{% load staticfiles %}

<html>
    <head>
      <!-- import Bootstrap as CSS framework to improve the look and feel -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}"></link>
      <title> DjangoGirls Posts </title>
    </head>

    <body>
      <div>
        <h1> My Posts - a reference to DjangoGirls Tutorial </h1>
      </div>

      <div>
        <h2><a href=""> Posts as a simple Django QuerySet </a></h2>
        <p> All Post objects 'posts' {{ posts }} </p>
        <p><a href="blog/post_list_filter.html"> 'post_list_filtered as a Django Query Set' {{ post_list_filter }} </a></p>
      </div>

      <div>
        <h2><a href=""> Posts and its Attributes </a></h2>
        {% for post1 in posts %}
        <p><a href=""> Title: {{ post1.title }} </a>
          Author: {{ post1.author }}
          Created: {{ post1.created_date }}
          Published: {{ post1.published_date }} </p>
        {% endfor %}
      </div>

      <div>
        <h2><a href="blog/post_list_filter.html"> Posts filtered </a></h2>
        {% for post2 in post_list_filter %}
        <p><a href=""> Title: {{ post2.title }} </a>
          Author: {{ post2.author }}
          Created: {{ post2.created_date }}
          Published: {{ post2.published_date }} </p>
        {% endfor %}
      </div>

      <div>
        <h1><a href="">Posts as a list of titles and text </a></h1>
        {% for post in posts %}
        <h4> {{ post.title }} </h4>
        <!--  <p> {{ post.text }} </p>  -->
        <p> {{ post.text }} </p>
        {% endfor %}
      </div>


    </body>
</html>
