<!--
# my first Django template as html file to list all posts
# tutorial.djangogirls.org  'Introduction to HTML'
#
# apla 25.05.2018 added a new template post_edit.html
# added a bootstrap save button 28.05.18 apla
-->

{% extends 'blog/base.html' %}
{% block content %}

        <div>
            <h1>
              <a href="{% url 'post_list' %}">
                  Post Form
              </a>
            </h1>
          </div>

           <div>
               <form method="POST" class="post-form">
                 {% csrf_token %}
                 {{ form.as_p}}
                 <button type="submit" class="save btn btn-default">
                   Save
                 </button>
               </form>
            </div>

{% endblock %}
