<!--
# my first Django template as html file to list all posts
# tutorial.djangogirls.org  'Introduction to HTML'
# apla 15.04.2018
-->

<html>
    <head>
      <!-- import Bootstrap as CSS framework to improve the look and feel -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <title> DjangoGirls Tutorial Post_list </title>
    </head>

    <body>
      <div>
        <h1><a href="\"> My Posts </a></h1>
      </div>

      <div>
        <h2><a href=""> Posts as a simple Django QuerySet </a></h2>
        <p> {{ posts }} </p>
      </div>

      <div>
        <h2><a href=""> Posts as a list of titles </a></h2>
        {% for post in posts %}
        <h4> {{ post.title }} </h4>
        <!-- <p> {{ post.text }} </p>  -->
        {% endfor %}
      </div>

      <div>
        <h2><a href=""> Post details </a></h2>
        {% for post1 in posts %}
        <p>Title: {{ post1.title }}
          Author: {{ post1.author }}
          Created: {{ post1.created_date }}
          Published: {{ post1.published_date }} </p>
        {% endfor %}
      </div>

    </body>
</html>
