<!--
# my first Django template as html file to list all posts
# tutorial.djangogirls.org  'Introduction to HTML'
# apla 15.04.2018  added links to post_list_filter.html website
-->
{% load staticfiles %}

<html>
    <head>
      <link rel="stylesheet" href="{% static 'css/blog.css' %}"></link>

      <!-- import Bootstrap as CSS framework
      to improve the look and feel from CDN (content delivery network) -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <!-- <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
      <!-- <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->


      <title> DjangoGirls Posts </title>
    </head>

    <body>
      <div class="page-header">
        <h1> My Posts - a reference to DjangoGirls Tutorial </h1>
      </div>

      <div>
        <h1><a href=""> Posts as a simple Django QuerySet </a></h1>
        <p> All Post objects 'posts' {{ posts }} </p>
        <p><a href="blog/post_list_filter.html">
          'post_list_filtered 'Django' as a Django Query Set' {{ post_list_filter }}
        </a></p>
      </div>

      <div>
        <h2><a href="blog/post_list_filter.html">
          Posts filtered 'Django' </a></h2>
      </div>

      <div class="post">
        <h1><a href="">
          Posts as a list of blog titles and text </a></h1>
        {% for post in posts %}
        <p><b> {{ post.title }} </b></p>
        <p> Author: {{ post.author }}
            Created: {{ post.created_date }}
            Published: {{ post.published_date }} </p>
        <!--  <h4> {{ post.text }} </h4>  -->
        <p> {{ post.text }} </p>
        {% endfor %}
      </div>


    </body>
</html>
