<!--
my first Django template as html file to list all posts
tutorial.djangogirls.org  'Introduction to HTML'
apla 15.04.2018  added links to post_list_filter.html website
apla 20.05.2018 changed to an extension of the base.html template
created template 31.05.18 apla
Django Girls Tutorial Homework 'list unpublished posts'
-->

{% extends 'blog/base.html' %}
{% block content %}

        <div>
            <h1>
              <a href="/">
                My unpublished Posts
              </a>
            </h1>
        </div>

           <!-- <div class="post">  -->
          <div>
               {% for post in posts %}
               <!--    -->
               <div>
               <a href="{% url 'post_detail' pk=post.pk %}">
                 <b> {{ post.title }} </b>
               </a>
               <p> Author: {{ post.author }}
                   Created: {{ post.created_date }}
                   Published: {{ post.published_date }}
                   PostID: {{ post.id }}
                 </p>
               </div>

               {% endfor %}
            </div>

{% endblock %}
